$space: inline-block;
$main-color: #eead0e;
$sub-color: white;
$font: Lucida Calligraphy;
$main-font: Times New Roman;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icons {
  display: inline-block;
  width: 100%;
  text-align: end;
  ul {
    li {
      margin-left: 2%;
      display: $space;

      i {
        color: $main-color;
      }
    }
  }
}
h2 {
  font-family: $font;
}
h1,
p {
  font-family: $main-font;
}
.button-click {
  padding: 1% 3%;
  text-decoration: none;
  color: $sub-color;
  background-color: $main-color;
  border: {
    color: $sub-color;
    width: 2px;
    style: solid;
    radius: 10%;
  }
}

#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  .sub_header {
    background-color: $sub-color;
    .logo {
      position: absolute;
      text-align: center;
      img {
        width: 100%;
        height: 155px;
      }
      h2 {
        color: $sub-color;
        position: absolute;
        top: 40%;
        right: 33%;
        font-size: 0.95rem;
      }
      h1 {
        @extend h2;
        top: 10%;
        right: 30%;
        font-size: 2.75rem;
      }
      i {
        top: 14%;
        position: absolute;
        font-size: 45px;
        right: 62%;
        color: $sub-color;
      }
    }
    .contact-info {
      li {
        margin: 0 2%;
        display: $space;
        i {
          color: $main-color;
        }
      }
    }
    .sub-contact-info {
      @extend .contact-info;
      display: none;
    }
  }
  .navbar {
    background: #1c1c1c96;
    position: unset;
    .sub-nav {
      width: 100%;
      ul {
        width: 100%;
        padding: 2% 0;
        li {
          margin: 0 1%;
          & a:hover {
            color: $main-color;
          }
          a {
            text-decoration: none;
            color: $sub-color;
          }
        }
        li:nth-child(7) {
          border: {
            color: $sub-color;
            width: 1px;
            style: solid;
            radius: 5%;
          }
          margin: 0;
          a {
            color: $main-color;
          }
          & a:hover {
            color: $sub-color;
          }
        }
      }
      .list {
        display: none;
        text-decoration: none;
        float: right;
        color: $sub-color;
        padding: 1% 1.5%;
        border: {
          color: $sub-color;
          width: 1px;
          style: solid;
          radius: 5%;
        }
      }
    }
  }
}

#main-content {
  .first-content {
    background-image: url(../Pictures/bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    .text-center {
      padding: 15% 0;
      p,
      h1,
      h2 {
        color: $sub-color;
        margin: 3% 0;
      }
      .button-click {
        background-color: initial;
      }
      & a:hover {
        background-color: $main-color;
        text-decoration: none;
        color: #1c1c1c;
      }
    }
  }
  .second-content {
    padding: 7% 0;
    background-image: url(../Pictures/backgound_profile.png);
    background-repeat: no-repeat;
    background-size: cover;

    .profile {
      margin-left: 10%;
      padding-right: 14%;
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 85%;
        margin: 2px;
      }
      .button-click {
        background-color: $main-color;
      }
      & a:hover {
        text-decoration: none;
        color: #1c1c1c;
      }
    }
    .combine-pictures {
      img {
        background-color: $sub-color;
        width: 100%;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: {
          width: 1px;
          style: solid;
        }
      }
      margin-top: 12%;
      .picture-1 {
        position: relative;
        transform: rotate(-10deg);
      }
      .picture-2 {
        position: absolute;
        left: 12%;
        top: 2%;
      }
    }
  }
  .third-content {
    padding: 7%;
    width: 100%;
    background-image: url(../Pictures/background-reciges.png);
    background-repeat: no-repeat;
    background-size: cover;
    img {
      width: 100%;
      position: relative;
    }
    .text-reciges {
      background-color: white;
      padding: 5%;
      position: absolute;
      bottom: 7%;
      margin-right: -5%;
      z-index: 999;
      p {
        font-size: 85%;
      }
      h1 {
        font-size: 2rem;
      }
      & a:hover {
        text-decoration: none;
        color: #1c1c1c;
      }
    }
  }
  .fourth-content {
    padding: 7% 0;
    .delightful {
      text-align: center;
      margin-bottom: 7%;
    }
    .first-row,
    .second-row {
      margin-bottom: 3%;
      img {
        width: 25%;
      }
    }

    img:nth-child(3) {
      position: relative;
    }
    img:nth-child(5) {
      float: right;
    }
    .italian-source {
      background-color: #000000a1;
      padding: 2% 0;
      margin-top: 2%;
      text-align: center;
      position: absolute;
      right: 32.75%;
      width: 15%;
      display: inline-block;
      p {
        color: $sub-color;
      }
      .button-click {
        border: none;
        padding: 2%;
      }
      & a:hover {
        text-decoration: none;
        color: #1c1c1c;
      }
    }
  }
}
#footer {
  width: 100%;
  padding: 5% 0;
  background: #000 url(../Pictures/bg_footer.png) no-repeat center center;
  background-size: 100%;
  width: 100%;
  display: inline-block;
  h2 {
    text-align: center;
    color: $sub-color;
  }
  .info-location,
  .info-hours {
    @extend h2;
    margin: {
      top: 15%;
      bottom: 28%;
    }
  }
  form {
    input,
    textarea {
      margin: 2% 0;
      width: 100%;
      padding: 5%;
      border: 1px solid #333333;
      border-radius: 4px;
      background-color: #333333;
      font-family: $main-font;
    }
    button {
      @extend .button-click;
      padding: 3% 15%;
      border-radius: 5%;
      border-color: #1c1c1c;
      font-family: $main-font;
    }
    & button:hover {
      text-decoration: none;
      color: #1c1c1c;
    }
  }
  .icons {
    text-align: center;
    li {
      margin-left: 2%;
      display: $space;
      font-size: x-large;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #header {
    .sub_header {
      .contact-info {
        margin-left: 45%;
        ul {
          text-align: center;
        }
      }
      .sub-contact-info {
        display: none;
      }
      .logo {
        img {
          width: auto;
        }
        h2 {
          right: 35%;
        }
        h1 {
          font-size: 2.8rem;
          right: 33%;
        }

        i {
          top: 16%;
        }
      }
      .icons {
        transform: translateY(43%);
      }
    }

    .navbar {
      .sub-nav {
        ul {
          li {
            margin: 0;
          }
        }
      }
    }
  }
  #main-content {
    .second-content {
      background-size: cover;
      .profile {
        padding-right: 9%;
      }
    }
    .third-content {
      .text-reciges {
        bottom: 0px;
        padding: 3%;
        margin-right: -10%;
      }
    }
    .fourth-content {
      .italian-source {
        right: 31.75%;
        font-size: small;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #header {
    .sub_header {
      .contact-info {
        display: none;
      }
      .sub-contact-info {
        display: inline-block;
        margin: 0;
        ul {
          text-align: unset;
          padding-top: 2%;
          padding-left: 13%;
        }
      }
    }
    .navbar {
      .sub-nav {
        ul {
          display: none;
        }
        .list {
          display: block;
        }
        &:hover ul {
          display: inline-block;
          li:nth-child(7) {
            display: inline-block;
          }
        }
      }
    }
  }
  #main-content {
    .first-content {
      .text-center {
        margin-top: 15%;
      }
    }
    .second-content {
      padding: 5% 0;
      .profile {
        padding-right: 0;
      }
    }
    .third-content {
      .text-reciges {
        margin-right: -20%;
        bottom: -13%;
        font-size: x-small;
        p {
          font-size: 0.7rem;
        }
        a {
          font-size: large;
        }
      }
    }
    .fourth-content {
      .italian-source {
        right: 33.75%;
        margin-top: 0.2%;
        font-size: xx-small;
        a {
          font-size: medium;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #header {
    .sub_header {
      .icons {
        display: none;
      }
      .sub-contact-info {
        text-align: center;
        ul {
          padding-left: 0;
        }
      }
    }
  }
  #main-content {
    .second-content {
      background-repeat: round;
    }
    .third-content {
      .text-reciges {
        margin-right: -20%;
        bottom: 15%;
        padding: 5%;
        p {
          display: none;
        }
        h1 {
          font-size: 1.8rem;
        }
      }
    }
    .fourth-content {
      .first-row,
      .second-row {
        img {
          width: 50%;
        }
        .italian-source {
          right: 52.5%;
          margin-top: 4.5%;
          font-size: large;
          width: 30%;
        }
      }
    }
  }
}
